.main{
    width: 100%;
    height: 100%;
}
.image{
    
    background-image: url("../../Images/backgroundImage3.jpg");
    background-repeat: no-repeat;
    height: 900px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center
    
}
.heading{
   font-family: 'Courier New', Courier, monospace;
}